<div id="console-block">
  <div id="console-screen">
    riri
  </div>
  <div id="console-buttons">
    <div id="pay-buttons">
      <div class="pay-button">
        <div class="button-text">
          1
        </div>
      </div>
      <div class="pay-button">
        <div class="button-text">
            2
        </div>
      </div>
      <div class="pay-button">
        <div class="button-text">
            5
        </div>
      </div>
      <div class="pay-button">
        <div class="button-text">
            10
        </div>
      </div>
    </div>
    <div id="buy-buttons">
      <div class="buy-button">
        <div class="button-text">
            Купить
        </div>
      </div>
        
    </div>
  </div>
</div>
